@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);
body {
  font-family: "Open Sans", sans-serif;
}
body p, body h1, body h2, body h3, body h4, body h5, body h6, body input, body textarea, body select, body label, body button, body span {
  font-family: "Open Sans", sans-serif !important;
}

.section-header ~ .shopify-section-group-header-group {
  z-index: 1 !important;
}

ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a .__menu-icon {
  position: relative;
}
ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a .__menu-icon:before, ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a .__menu-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 1.5px;
  background: #FFF;
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}
ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a .__menu-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

body.__mega-shop-menu-open .__menu-item_type____MEGASHOP__ > a {
  background: radial-gradient(50.71% 137.5% at 50% 0%, #2F3C45 0%, #252F36 100%);
}
body.__mega-shop-menu-open ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ {
  visibility: visible;
  opacity: 1;
  z-index: 9;
}
body.__mega-shop-menu-open ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a .__menu-icon svg {
  opacity: 0;
}
body.__mega-shop-menu-open ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a .__menu-icon:before, body.__mega-shop-menu-open ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a .__menu-icon:after {
  opacity: 1;
}

ul.menu-builder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #111D25;
}
ul.menu-builder .menu-builder__sub {
  position: absolute;
  margin: 0;
  padding: 0;
  background: white;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
ul.menu-builder .menu-builder__sub .__menu-item a {
  padding: 16px;
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  border-radius: 2px;
  background: #F6F9F9;
  color: #00363C;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.13px;
  text-transform: uppercase;
}
ul.menu-builder .menu-builder__sub .__menu-item a .dropdown-icon svg {
  fill: #19242D;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ {
  width: 100%;
  border-radius: 4px;
  background: #ECEEEE;
  padding-right: 8px;
  max-width: 1420px;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ .__type__MEGASHOP_SUBITEM__ {
  background: transparent;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ .__type__MEGASHOP_SUBITEM__ .__container-item {
  box-shadow: none !important;
  border-radius: 0 4px 4px 0;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item {
  width: 184px;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item > a {
  color: #60676B;
  font-size: 13px;
  font-weight: 500;
  line-height: 125%;
  text-transform: uppercase;
  border: none;
  padding: 14px 10px 14px 12px;
  background: #ECEEEE;
  border-radius: 0;
  position: relative;
  z-index: 10;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item > a .__menu-item-name {
  width: 100%;
  justify-content: space-between;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item > a .__menu-item-name .dropdown-icon {
  transform: rotate(-90deg);
  margin: 0;
  margin-top: -5px;
  order: 2;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item > a .__menu-item-name .dropdown-icon svg {
  fill: none;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item > a .__menu-item-name .dropdown-icon svg path {
  stroke: #61676B !important;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item.__mega-menu-open > a {
  background: #FFF;
}
ul.menu-builder .menu-builder__sub.__type__MEGASHOP__ > li.__menu-item.__mega-menu-open .__type__MEGASHOP_SUBITEM__ .menu-builder__sub {
  opacity: 1 !important;
  visibility: visible !important;
  position: relative !important;
}
ul.menu-builder .__show-all-sub .menu-builder__sub {
  visibility: visible !important;
  opacity: 1 !important;
}
ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a span.__menu-icon {
  display: flex;
}
ul.menu-builder > li.__menu-item.__menu-item_type____MEGASHOP__ > a span.__menu-icon.dropdown-icon {
  display: none;
}
ul.menu-builder > li.__menu-item > a {
  display: inline-flex;
  align-items: center;
  padding: 10px 24px;
  list-style: none;
  text-decoration: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  color: #FFF;
  text-align: justify;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  min-height: 54px;
}
ul.menu-builder > li.__menu-item:hover > a, ul.menu-builder > li.__menu-item.__mega-menu-open > a {
  background: radial-gradient(50.71% 137.5% at 50% 0%, #2F3C45 0%, #252F36 100%);
}
ul.menu-builder li.__menu-item {
  list-style: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}
ul.menu-builder li.__menu-item.__mega-menu-open > .menu-builder__sub {
  visibility: visible;
  opacity: 1;
  z-index: 9;
}
ul.menu-builder li.__menu-item > a .__menu-icon {
  margin-right: 8px;
}
ul.menu-builder li.__menu-item > a .__menu-item-name {
  display: flex;
  align-items: center;
}
ul.menu-builder li.__menu-item > a .__menu-item-name .dropdown-icon {
  width: 18px;
  margin-left: 8px;
  margin-right: 0;
  line-height: 0;
}

.menu-builder__sub {
  width: 184px;
}

ul.__type__MEGASHOP_SUBITEM__ {
  left: 184px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 184px);
  position: relative;
}
ul.__type__MEGASHOP_SUBITEM__::after {
  content: "";
  position: absolute;
  width: calc(100% + 184px);
  height: 100%;
  top: 0;
  left: -184px;
  border-radius: 4px;
  background: #ECEEEE;
  box-shadow: 0px 8px 24px 0px rgba(17, 17, 27, 0.1), 0px 16px 56px 0px rgba(17, 17, 27, 0.1), 0px 24px 80px 0px rgba(17, 17, 27, 0.1);
  z-index: -1;
}
ul.__type__MEGASHOP_SUBITEM__ .menu-builder__sub {
  background: transparent !important;
}
ul.__type__MEGASHOP_SUBITEM__ > .__menu-item-banner {
  width: 100%;
  height: 180px;
  position: relative;
}
ul.__type__MEGASHOP_SUBITEM__ > .__menu-item-banner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 13, 15);
  background: linear-gradient(9deg, rgb(0, 13, 15) 0%, rgba(0, 14, 15, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000d0f",endColorstr="#000e0f",GradientType=1);
}
ul.__type__MEGASHOP_SUBITEM__ > .__menu-item-banner .__menu-item-banner__entry {
  padding: 40px;
  display: flex;
  height: 100%;
  align-items: end;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
ul.__type__MEGASHOP_SUBITEM__ > .__menu-item-banner .__menu-item-banner__entry .__parent-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
ul.__type__MEGASHOP_SUBITEM__ > .__menu-item-banner .__menu-item-banner__entry .__custom-link a {
  padding: 0;
  color: white;
}
ul.__type__MEGASHOP_SUBITEM__ > .__menu-item-banner .__menu-item-banner__entry .__custom-link a svg {
  fill: white;
}
ul.__type__MEGASHOP_SUBITEM__ > li.__menu-item {
  padding: 40px;
  box-sizing: border-box;
  width: 50%;
}
ul.__type__MEGASHOP_SUBITEM__ .menu-builder__sub {
  position: relative !important;
}

li.__menu-item_type____BLOCK_MENU__ {
  padding: 25px 40px 0 !important;
  border-bottom: none !important;
}
li.__menu-item_type____BLOCK_MENU__ > a {
  font-weight: bold;
  text-transform: uppercase;
  color: #004F59 !important;
  border-bottom: 2px solid #004F59 !important;
}

.__type__BLOCK_MENU__ li.__menu-item {
  border-bottom-color: #c0c0c0 !important;
}
.__type__BLOCK_MENU__ li.__menu-item:hover a, .__type__BLOCK_MENU__ li.__menu-item.__is-hover a {
  color: #004F59 !important;
  background: none !important;
}

li.__menu-item_type____MEGA__.__mega-menu-open .menu-builder__sub {
  visibility: visible !important;
  opacity: 1 !important;
}
li.__menu-item_type____MEGA__ ul.__type__MEGA__ {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  max-width: 1420px;
  left: 50% !important;
  transform: translate(-50%);
  background: transparent;
}
li.__menu-item_type____MEGA__ ul.__type__MEGA__ .menu-builder__sub {
  position: relative !important;
}

ul.__type__BLOCK_BRAND__ {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
  padding: 12px !important;
  width: 100% !important;
}
ul.__type__BLOCK_BRAND__.sub-lv__2 {
  padding: 6px 6px 0 !important;
}

li.__menu-item_type____BLOCK_BRAND_ITEM__ {
  border-bottom: none !important;
}
li.__menu-item_type____BLOCK_BRAND_ITEM__ > a {
  display: flex;
  flex-direction: column;
  padding: 6px 12px !important;
  background: #FAFAFA !important;
  border: 0 !important;
  font-size: 12px;
}
li.__menu-item_type____BLOCK_BRAND_ITEM__ > a .__brand-image img {
  width: 100%;
  mix-blend-mode: multiply;
}

.__BLOCK_MENU_IMAGE-container {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 8px 10px;
}

ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__ {
  width: 100%;
  border-bottom: none !important;
  padding: 8px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__ > a {
  font-weight: bold;
  text-transform: uppercase;
  color: #004F59 !important;
  border-bottom: 2px solid rgba(0, 79, 89, 0.2117647059);
  padding: 16px 0 !important;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__ a.menu-heading {
  color: #00515B !important;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.14px;
  text-transform: uppercase;
  margin-bottom: 12px;
  border-bottom: 2px solid #00515B;
  background: #FFF;
  padding: 4px 0 !important;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__ .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
  margin-top: 8px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__ .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ .__menu-item-name {
  padding-right: 4px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__ .__menu-item_type____BLOCK_MENU_IMAGE_HEADING__ {
  width: 100%;
  margin-top: 21px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-25 {
  width: 25%;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-25 .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
  width: 100%;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-50 {
  width: 50%;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-50 .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
  width: 50%;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-50 .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__:nth-child(odd) {
  padding-right: 4px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-50 .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__:nth-child(even) {
  padding-left: 4px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-75 {
  width: 75%;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-75 .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
  width: 33.3333333333%;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-100 {
  width: 100%;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE__.__width-100 .__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
  width: 25%;
}

ul.menu-builder .menu-builder__sub ul.__type__BLOCK_MENU_IMAGE__ {
  display: flex;
  flex-wrap: wrap;
  background: none !important;
  width: 100%;
}

ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
  border-bottom: none !important;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ > a {
  display: flex !important;
  justify-content: space-between;
  padding: 2px 4px 2px 12px !important;
  border-radius: 2px;
  background: #FAFAFA;
  color: #333;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.13px;
  text-transform: uppercase;
  min-height: 53px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ > a .__image {
  display: flex;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE_ITEM__ > a .__image img {
  max-width: 48px;
  max-height: 48px;
}
ul.menu-builder .menu-builder__sub li.__menu-item_type____BLOCK_MENU_IMAGE_ITEM__:hover > a {
  text-decoration: underline;
}

ul.__type__MEGA__ .__container-item, .__type__MEGASHOP_SUBITEM__ .__container-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 8px 24px 0px rgba(17, 17, 27, 0.1), 0px 16px 56px 0px rgba(17, 17, 27, 0.1), 0px 24px 80px 0px rgba(17, 17, 27, 0.1);
  overflow: hidden;
}
ul.__type__MEGA__ .__container-item .menu-list-col, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-list-col {
  width: calc(100% - 280px);
}
ul.__type__MEGA__ .__container-item .menu-list-col.full, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-list-col.full {
  width: 100%;
}
ul.__type__MEGA__ .__container-item .menu-hl-col, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col {
  width: 280px;
  background: #ECEEEE;
  padding: 16px 20px 24px;
}
ul.__type__MEGA__ .__container-item .menu-hl-col .hl-item, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col .hl-item {
  margin-top: 24px;
}
ul.__type__MEGA__ .__container-item .menu-hl-col h3, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col h3 {
  color: #00363C;
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
  margin-top: 0;
}
ul.__type__MEGA__ .__container-item .menu-hl-col img, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col img {
  max-width: 100%;
}
ul.__type__MEGA__ .__container-item .menu-hl-col h4, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col h4 {
  color: #333;
  font-size: 14px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.14px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 0;
}
ul.__type__MEGA__ .__container-item .menu-hl-col p, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col p {
  color: #00363C;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.14px;
  margin-bottom: 12px;
}
ul.__type__MEGA__ .__container-item .menu-hl-col .ft-brands-imgs, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col .ft-brands-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}
ul.__type__MEGA__ .__container-item .menu-hl-col .ft-brands-imgs .ft-img, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col .ft-brands-imgs .ft-img {
  border-radius: 2px;
  background: #FAFAFA;
  padding: 4px 8px;
  display: flex;
}
ul.__type__MEGA__ .__container-item .menu-hl-col .ft-brands-imgs .ft-img img, .__type__MEGASHOP_SUBITEM__ .__container-item .menu-hl-col .ft-brands-imgs .ft-img img {
  mix-blend-mode: multiply;
}
ul.__type__MEGA__ .__container-item .__container-item__button-custom-link, .__type__MEGASHOP_SUBITEM__ .__container-item .__container-item__button-custom-link {
  border-top: solid 1px #E2E2E2;
  width: 100%;
}
ul.__type__MEGA__ .__container-item .__container-item__button-custom-link > a, .__type__MEGASHOP_SUBITEM__ .__container-item .__container-item__button-custom-link > a {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  color: #19242D;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  text-decoration: none;
}
ul.__type__MEGA__ .__container-item .__container-item__button-custom-link > a .__menu-icon, .__type__MEGASHOP_SUBITEM__ .__container-item .__container-item__button-custom-link > a .__menu-icon {
  width: 18px;
  line-height: 0;
}
ul.__type__MEGA__ .__container-item .__container-item__button-custom-link > a .__menu-icon svg, .__type__MEGASHOP_SUBITEM__ .__container-item .__container-item__button-custom-link > a .__menu-icon svg {
  width: 100%;
  fill: #19242D;
}
ul.__type__MEGA__ .__container-item .__container-item__button-custom-link > a:hover, .__type__MEGASHOP_SUBITEM__ .__container-item .__container-item__button-custom-link > a:hover {
  background: #004F59;
  color: white;
}
ul.__type__MEGA__ .__container-item .__container-item__button-custom-link > a:hover svg, .__type__MEGASHOP_SUBITEM__ .__container-item .__container-item__button-custom-link > a:hover svg {
  fill: white;
}

li.__menu-item_type____MEGASHOP__ > a .__menu-item-name .dropdown-icon,
li.__menu-item_type____BLOCK_MENU__ > a .__menu-item-name .dropdown-icon,
li.__menu-item_type____BLOCK_BRAND__ > a .__menu-item-name .dropdown-icon,
li.__menu-item_type____BLOCK_MENU_IMAGE__ > a .__menu-item-name .dropdown-icon {
  display: none;
}

.sub-menu-options-template {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
}
.sub-menu-options-template.__open {
  visibility: visible;
  opacity: 1;
}
.sub-menu-options-template__inner {
  width: 500px;
  background: white;
  padding: 2em;
  border-radius: 1px;
}
.sub-menu-options-template .__heading {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.sub-menu-options-template .template-item {
  margin-bottom: 1em;
  cursor: pointer;
}
.sub-menu-options-template .template-item .Polaris-Badge {
  margin-left: 0.5em;
}
.sub-menu-options-template .template-item img {
  max-width: 100%;
}
.sub-menu-options-template .template-item fieldset {
  border: solid 1px #ddd;
  line-height: normal;
}
.sub-menu-options-template .template-item fieldset legend {
  padding: 0.5em 1em;
}
.sub-menu-options-template .template-item fieldset img {
  border-radius: 1px;
  border: solid 1px #ececec;
}
.sub-menu-options-template .template-item.__active fieldset {
  border-color: black;
}
.sub-menu-options-template .template-item.__active fieldset legend {
  font-weight: bold;
}
.sub-menu-options-template .__actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.fieldset-field-ui {
  border-radius: 8px;
  border: solid 1px #ddd;
  padding: 1em;
  margin-bottom: 1.5em;
  background: white;
}
.fieldset-field-ui legend {
  padding: 0 0.5em;
  font-weight: bold;
  font-size: 14px;
}
