<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get mega menu height
    const topbarSection = document.getElementById('shopify-section-toolbar');
    const topbarHeight = topbarSection ? topbarSection.offsetHeight : 0;
    const headerMain = document.getElementsByClassName('header-main__brand');
    const headerHeight = headerMain[0] ? headerMain[0].offsetHeight : 0;
    const w_vh = window.innerHeight;
    const bmMegaHeight = w_vh - (topbarHeight + headerHeight + 54);
    document.documentElement.style.setProperty('--bm-topbar-vh', `${topbarHeight}px`);
    document.documentElement.style.setProperty('--bm-header-main-vh', `${headerHeight}px`);
    document.documentElement.style.setProperty('--bm-mega-menu-vh', `${bmMegaHeight}px`);

    var menuMegaClick = document.querySelectorAll('.bm-2025-menu');
    if (menuMegaClick.length > 0) {
      menuMegaClick.forEach(function (menu) {
        menu.addEventListener('click', function (e) { 
          var target = e.target;

          // Click Shop Sub Items (not open)
          if (target.matches('li.__has-children-menu.__bm-menu-item_type____MEGASHOP_SUBITEM__:not(.__mega-menu-open) > a, li.__has-children-menu.__bm-menu-item_type____MEGASHOP_SUBITEM__:not(.__mega-menu-open) > a span, li.__has-children-menu.__bm-menu-item_type____MEGASHOP_SUBITEM__:not(.__mega-menu-open) > a span svg')) {
            e.preventDefault();
            document.querySelectorAll('li.__has-children-menu.__bm-menu-item_type____MEGA__, li.__has-children-menu.__bm-menu-item_type____MEGASHOP_SUBITEM__')
              .forEach(function (item) {
                  item.classList.remove('__mega-menu-open');
              });
            target.closest('li.__has-children-menu.__bm-menu-item_type____MEGASHOP_SUBITEM__').classList.add('__mega-menu-open');
            return;
          }

          // Click Mega Shop Item
          if (target.matches('li.__bm-menu-item_type____MEGASHOP__ > a, li.__bm-menu-item_type____MEGASHOP__ > a span, li.__bm-menu-item_type____MEGASHOP__ > a span svg')) {
            e.preventDefault();
            document.querySelectorAll('li.__has-children-menu.__bm-menu-item_type____MEGA__, li.__has-children-menu.__bm-menu-item_type____MEGASHOP_SUBITEM__')
              .forEach(function (item) {
                item.classList.remove('__mega-menu-open');
              });
            document.body.classList.remove('__bm-2025-menu-mega-normal-open');
            document.body.classList.toggle('__bm-2025-menu-mega-shop-open');
            if (document.body.classList.contains('__bm-2025-menu-mega-shop-open')) {
              var firstChild = document.querySelector('li.__bm-menu-item_type____MEGASHOP__ .__type__MEGASHOP__').firstElementChild;
              if (firstChild) {
                firstChild.classList.add('__mega-menu-open');
              }
            }
            return;
          }

          // Click Mega Item (not open)
          if (target.matches('li.__has-children-menu.__bm-menu-item_type____MEGA__:not(.__mega-menu-open) > a, li.__has-children-menu.__bm-menu-item_type____MEGA__:not(.__mega-menu-open) > a span, li.__has-children-menu.__bm-menu-item_type____MEGA__:not(.__mega-menu-open) > a span svg')) {
            e.preventDefault();
            document.body.classList.remove('__bm-2025-menu-mega-shop-open');
            document.body.classList.add('__bm-2025-menu-mega-normal-open');
            document.querySelectorAll('li.__has-children-menu.__bm-menu-item_type____MEGA__, li.__has-children-menu.__bm-menu-item_type____MEGASHOP_SUBITEM__')
              .forEach(function (item) {
                  item.classList.remove('__mega-menu-open');
              });
            target.closest('li.__has-children-menu.__bm-menu-item_type____MEGA__').classList.add('__mega-menu-open');
            return;
          }

          // Click Mega Item (open)
          if (target.matches('li.__has-children-menu.__bm-menu-item_type____MEGA__.__mega-menu-open > a, li.__has-children-menu.__bm-menu-item_type____MEGA__.__mega-menu-open > a span, li.__has-children-menu.__bm-menu-item_type____MEGA__.__mega-menu-open > a span svg')) {
            e.preventDefault();
            document.body.classList.remove('__bm-2025-menu-mega-normal-open');
            target.closest('li.__has-children-menu.__bm-menu-item_type____MEGA__').classList.remove('__mega-menu-open');
            return;
          }
        });
      });
    }
  });

</script>

<script>
{{ block.settings.custom_js_script }}
</script>

<section class="__bm-2025-menu-container">
  <div class="bm-2025-menu" id="__BM_2025_MENU__" data-store-id="{{ shop.id }}" data-menu-id="{{ block.settings.menu_id }}" >
    {{ block.settings.prerender_html }} 
  </div>
</section>

{% schema %}
{
  "name": "BM Menu Block", 
  "target": "section",
  "javascript": "bm-2025-menu.bundle.js", 
  "stylesheet": "bm-2025-menu.bundle.css", 
  "settings": [ 
    {
      "type": "text", 
      "id": "menu_id",
      "label": "Menu ID",
      "default": "6785dd5184cda285d00b5f60"
    }, 
    {
      "type": "html", 
      "id": "prerender_html",
      "label": "Pre-render HTML"
    },
    {
      "type": "html", 
      "id": "custom_js_script",
      "label": "Custom JS Script"
    }
  ]
} 
{% endschema %}
