.section-header~.shopify-section-group-header-group {
  z-index: 1 !important;
}
 
ul.bm-2025-menu-main > li.__bm-menu-item.__bm-menu-item_type____MEGASHOP__ > a .__bm-menu-icon {
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 1.5px;
    background: #FFF;
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
body.__mega-shop-menu-open {
  .__bm-menu-item_type____MEGASHOP__ > a{
    background: radial-gradient(50.71% 137.5% at 50% 0%, #2F3C45 0%, #252F36 100%);
  }
  ul.bm-2025-menu-main .bm-2025-menu__sub.__type__MEGASHOP__ {
    visibility: visible;
    opacity: 1;
    z-index: 9;
 }
 ul.bm-2025-menu-main > li.__bm-menu-item.__bm-menu-item_type____MEGASHOP__ > a .__bm-menu-icon {
  svg {
    opacity: 0;
  }
  &:before, &:after {
    opacity: 1;
  }
 }
 
}

ul.bm-2025-menu-main {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: $font_size;
  background: $menu_bg;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  .bm-2025-menu__sub {
    position: absolute;
    margin: 0;
    padding: 0;
    background: white;
    visibility: hidden;
    opacity: 0;
    z-index: 1;

    .__bm-menu-item {

      a {
        padding: 16px;
        display: block;
        text-decoration: none;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        border-radius: 2px;
        background: #F6F9F9;
        color: #00363C;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.13px;
        text-transform: uppercase;

        .dropdown-icon {
          svg {
            fill: $link_color_accent;
          }
        }

        @media (max-width: 600px) {
          padding: 12px;
          font-size: 12px;
          line-height: 125%;
          letter-spacing: 0.12px;
        }
      }
    }

    &.__type__MEGASHOP__ {
      width: 100%;
      border-radius: 4px;
      background: #ECEEEE;
      max-width: 1420px;
      margin-top: 4px;

      > li.__bm-menu-item {
        &:first-child a {
          border-radius: 4px 0 0 0;
        }
      }

      @media (max-width: 1560px) {
        max-width: 1320px;
      }

      @media (max-width: 1440px) {
        max-width: 1260px;
      }

      @media (max-width: 1320px) {
        max-width: 1220px;
      }

      @media (max-width: 1280px) {
        max-width: 1120px;
        .__type__MEGASHOP_SUBITEM__ .__container-item {
          .menu-hl-col {
            display: none;
          }
          .menu-list-col {
            width: 100%;
          }
        }
      }
  
      @media (max-width: 1200px) {
        max-width: 1020px;
      }
  
      @media (max-width: 1080px) {
        max-width: 900px;
      }

      @media (max-width: 991px) {
        max-width: 100%;
        margin-top: 0;

        > li.__bm-menu-item {
          &:first-child a {
            border-radius: 0;
          }
        }

        .__type__MEGASHOP_SUBITEM__ .__container-item {
          border-radius: 0;
        }
      }

      @media (max-width: 600px) {
        height: 80vh;
      }

      .__type__MEGASHOP_SUBITEM__ {
        background: transparent;

        .__container-item {
          box-shadow: none !important;
          border-radius: 0 4px 4px 0;

          @media (max-width: 600px) {
            border-radius: 0;
          }
        }
      } 

      > li.__bm-menu-item {
        width: 184px;

        @media (max-width: 1200px) {
          width: 150px;
        }

        @media (max-width: 600px) {
          width: 120px;
        }

        > a {
          color: #60676B;
          font-size: 13px;
          font-weight: 500;
          line-height: 125%;
          text-transform: uppercase;
          border: none;
          padding: 14px 10px 14px 12px;
          background: #ECEEEE;
          border-radius: 0;
          position: relative;
          z-index: 10;

          @media (max-width: 600px) {
            font-size: 12px;
            padding: 12px 4px 12px 8px;
          }

          .__bm-menu-item-name {
            width: 100%;
            justify-content: space-between;

            .dropdown-icon {
              transform: rotate(-90deg);
              margin: 0;
              margin-top: -5px;
              order: 2;

              svg {
                fill: none;
                path {
                  stroke: #61676B !important;
                }
              }
            }
          }
        }

        &.__mega-menu-open {
          > a {
            background: #FFF;
          }

          .__type__MEGASHOP_SUBITEM__ {

            .bm-2025-menu__sub {
              opacity: 1 !important;
              visibility: visible !important;
              position: relative !important;
            }
          }
        }
      }
    }
  }

  .__show-all-sub {

    .bm-2025-menu__sub {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  > li.__bm-menu-item {

    &.__bm-menu-item_type____MEGASHOP__>a {
      span.__bm-menu-icon {
        display: flex;

        &.dropdown-icon {
          display: none;
        }
      }
    }

    > a {
      display: inline-flex;
      align-items: center;
      padding: 10px 24px;
      list-style: none;
      text-decoration: none;
      transition: .3s ease;
      -webkit-transition: .3s ease;
      color: #FFF;
      text-align: justify;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0.65px;
      text-transform: uppercase;
      min-height: 54px;
      width: max-content;
    }

    &:hover,
    &.__mega-menu-open {
      > a {
        background: radial-gradient(50.71% 137.5% at 50% 0%, #2F3C45 0%, #252F36 100%);
      }
    }
    
    @media (max-width: 991px) {
      > a {
        padding: 12px;
      }
    }

    @media (max-width: 767px) {
      > a {
        padding: 12px 8px;
      }
      &.__bm-menu-item_type____MEGASHOP__ {
        > a {
          padding: 12px;
        }
      }
    }
    @media (max-width: 600px) {
      > a {
        font-size: 11px;
        letter-spacing: 0.22px;
      }
    }
  }

  li.__bm-menu-item {
    list-style: none;
    transition: .3s ease;
    -webkit-transition: .3s ease;

    &.__mega-menu-open {

      > .bm-2025-menu__sub {
        visibility: visible;
        opacity: 1;
        z-index: 9;
      }
    }

    > a {
      .__bm-menu-icon {
        margin-right: 8px;
      }

      .__bm-menu-item-name {
        display: flex;
        align-items: center;

        .dropdown-icon {
          width: 18px;
          margin-left: 8px;
          margin-right: 0;
          line-height: 0;

          @media (max-width: 767px) {
            margin-left: 4px;
          }
        }
      }
    }
  }
}

.bm-2025-menu__sub {
  width: 184px;

  @media (max-width: 1200px) {
    width: 150px;
  }
  @media (max-width: 600px) {
    width: 120px;
  }
}

ul.__type__MEGASHOP_SUBITEM__ {
  left: 184px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 184px);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 184px);
    height: 100%;
    top: 0;
    left: -184px;
    border-radius: 4px;
    background: #ECEEEE;
    box-shadow: 0px 8px 24px 0px rgba(17, 17, 27, 0.10), 0px 16px 56px 0px rgba(17, 17, 27, 0.10), 0px 24px 80px 0px rgba(17, 17, 27, 0.10);
    z-index: -1;
  }

  @media (max-width: 1200px) {
    left: 150px;
    width: calc(100% - 150px);

    &::after {
      width: calc(100% + 150px);
      left: -150px;
    }
  }

  @media (max-width: 600px) {
    left: 120px;
    width: calc(100% - 120px);
    height: 80vh;
    overflow-y: auto;

    &::after {
      width: calc(100% + 120px);
      left: -120px;
      border-radius: 0;
    }
  }

  .bm-2025-menu__sub {
    background: transparent !important;
  }

  > li.__bm-menu-item {
    padding: 40px;
    box-sizing: border-box;
    width: calc(100% / 2);
  }

  .bm-2025-menu__sub {
    position: relative !important;
  }
}

li.__bm-menu-item_type____BLOCK_MENU__ {
  padding: 25px 40px 0 !important;
  border-bottom: none !important;

  > a {
    font-weight: bold;
    text-transform: uppercase;
    color: $accent_color !important;
    border-bottom: 2px solid $accent_color !important;
  }
}

.__type__BLOCK_MENU__ {

  li.__bm-menu-item {
    border-bottom-color: #c0c0c0 !important;

    &:hover,
    &.__is-hover {
      
      a {
        color: $accent-color !important;
        background: none !important;
      }
    }
  }
}

li.__bm-menu-item_type____MEGA__ {

  &.__mega-menu-open {

    .bm-2025-menu__sub {
      visibility: visible !important;
      opacity: 1 !important;
    }
  }

  ul.__type__MEGA__ {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    max-width: 1420px;
    left: 50%!important;
    transform: translate(-50%);
    background: transparent;
    padding-top: 4px;
  
    .bm-2025-menu__sub {
      position: relative !important;
    }

    @media (max-width: 1560px) {
      max-width: 1320px;
    }

    @media (max-width: 1440px) {
      max-width: 1220px;
    }

    @media (max-width: 1360px) {
      max-width: 1120px;
    }

    @media (max-width: 1200px) {
      max-width: 1020px;
    }

    @media (max-width: 1080px) {
      max-width: 950px;
    }

    @media (max-width: 991px) {
      padding-top: 0;
      max-width: 100%;

      .__container-item {
        border-radius: 0;
      }
    }
  }
}

ul.__type__BLOCK_BRAND__ {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
  padding: 12px !important;
  width: 100% !important;

  &.sub-level__2 {
    padding: 6px 6px 0 !important;
  }

  @media (max-width: 1440px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(3, 1fr);

    &.sub-level__2 {
      padding: 6px 0 0 !important;
    }
  }
}

li.__bm-menu-item_type____BLOCK_BRAND_ITEM__ {
  border-bottom: none !important;

  > a {
    display: flex;
    flex-direction: column;
    padding: 6px 12px !important;
    background: #FAFAFA !important;
    border: 0 !important;

    .__brand-image {

      img {
        width: 100%;
        mix-blend-mode: multiply;
      }
    }

    font-size: 12px;
  }
}

.__BLOCK_MENU_IMAGE-container {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 8px 10px;

  @media (max-width: 767px) {
    padding: 6px 16px 16px;
  }

  @media (max-width: 600px) {
    padding: 6px 12px 16px;
  }
}

ul.bm-2025-menu-main .bm-2025-menu__sub li.__bm-menu-item_type____BLOCK_MENU_IMAGE__ {
  width: 100%;
  border-bottom: none !important;
  padding: 8px;

  > a {
    font-weight: bold;
    text-transform: uppercase;
    color: $accent_color !important;
    border-bottom: 2px solid #004f5936;
    padding: 16px 0 !important;
  }

  a.menu-heading {
    color: #00515B !important;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.14px;
    text-transform: uppercase;
    margin-bottom: 12px;
    border-bottom: 2px solid #00515B;
    background: #FFF;
    padding: 4px 0 !important;

    @media (max-width: 1080px) {
      font-size: 13px;
    }
    @media (max-width: 600px) {
      padding: 0 !important;
      line-height: 125%;
      letter-spacing: 0.13px;
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }

  .__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
    margin-top: 8px;

    .__bm-menu-item-name {
      padding-right: 4px;
    }
  }

  .__bm-menu-item_type____BLOCK_MENU_IMAGE_HEADING__ {
    width: 100%;
    margin-top: 21px;
  }

  &.__width-25 {
    width: 25%;

    .__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
      width: 100%;
    }
  }

  &.__width-50 {
    width: 50%;

    .__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
      width: 50%;
      
      &:nth-child(odd) {
        padding-right: 4px;
      }
      &:nth-child(even) {
        padding-left: 4px;
      }
    }
  }

  &.__width-75 {
    width: 75%;

    .__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
      width: calc(100% / 3);
    }
  }

  &.__width-100 {
    width: 100%;

    .__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
      width: calc(100% / 4);
    }
  }

  @media (max-width: 767px) {
    &.__width-25, &.__width-50, &.__width-75, &.__width-100 {
      width: 100%;
      padding: 0 0 12px;

      .__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
        width: 100%;
        padding: 0 !important;
      }
    }
  }

  @media (max-width: 600px) {
    .__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
      margin-top: 2px;
    }
  }

}

ul.bm-2025-menu-main .bm-2025-menu__sub ul.__type__BLOCK_MENU_IMAGE__ {
  display: flex;
  flex-wrap: wrap;
  background: none !important;
  width: 100%;
}

ul.bm-2025-menu-main .bm-2025-menu__sub li.__bm-menu-item_type____BLOCK_MENU_IMAGE_ITEM__ {
  border-bottom: none !important;

  > a {
    display: flex !important;
    justify-content: space-between;
    padding: 2px 4px 2px 12px !important;
    border-radius: 2px;
    background: #FAFAFA;
    color: #333;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.13px;
    text-transform: uppercase;
    min-height: 53px;

    .__image {
      display: flex;

      img {
        max-width: 48px;
        max-height: 48px;
      }
    }

    @media (max-width: 600px) {
      min-height: 48px;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0.12px;
          padding: 2px 4px 2px 8px !important;

      .__image {
        img {
          max-width: 44px;
          max-height: 44px;
        }
      }
    }
  }

  // &.__is-hover,
  &:hover {

    > a {
      text-decoration: underline;
    }
  }
}

ul.__type__MEGA__, .__type__MEGASHOP_SUBITEM__ {

  .__container-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(17, 17, 27, 0.10), 0px 16px 56px 0px rgba(17, 17, 27, 0.10), 0px 24px 80px 0px rgba(17, 17, 27, 0.10);
    overflow: hidden;

    .menu-list-col {
      width: calc(100% - 280px);

      &.full {
        width: 100%;
      }

      @media (max-width: 1360px) {
        width: calc(100% - 240px);
      }

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    .menu-hl-col {
      width: 280px;
      background: #ECEEEE;
      padding: 16px 20px 24px;

      @media (max-width: 1360px) {
        width: 240px;
      }

      @media (max-width: 991px) {
        display: none;
      }

      .hl-item {
        margin-top: 24px;
      }

      h3 {
        color: #00363C;
        font-size: 20px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: -0.2px;
        margin-bottom: 12px;
        margin-top: 0;
      }
      img {
        max-width: 100%;
      }

      h4 {
        color: #333;
        font-size: 14px;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 0.14px;
        text-transform: uppercase;
        margin-bottom: 16px;
        margin-top: 0;
      }

      p {
        color: #00363C;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.14px;
        margin-bottom: 12px;
      }

      .ft-brands-imgs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;

        .ft-img {
          border-radius: 2px;
          background: #FAFAFA;
          padding: 4px 8px;
          display: flex;

          img {
            mix-blend-mode: multiply;
          }
        }
      }
    }

    .__container-item__button-custom-link {
      border-top: solid 1px #E2E2E2;
      width: 100%;

      > a {
        padding: 16px 24px;
        display: flex;
        justify-content: space-between;
        color: $link_color_accent;
        transition: .3s ease;
        -webkit-transition: .3s ease;
        text-decoration: none;

        .__bm-menu-icon  {
          width: 18px;
          line-height: 0;

          svg {
            width: 100%;
            fill: $link_color_accent;
          }
        }

        &:hover {
          background: $accent_color;
          color: white;

          svg {
            fill: white;
          }
        }
      }
    }
  }
}

li.__bm-menu-item_type____MEGASHOP__,
li.__bm-menu-item_type____BLOCK_MENU__,
li.__bm-menu-item_type____BLOCK_BRAND__,
li.__bm-menu-item_type____BLOCK_MENU_IMAGE__ {

  > a {
    .__bm-menu-item-name {
      .dropdown-icon {
        display: none;
      }
    }
  }
}

.sub-menu-options-template {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: .1s ease;
  -webkit-transition: .1s ease;

  &.__open {
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    width: 500px;
    background: white;
    padding: 2em;
    border-radius: 1px;
  }

  .__heading {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .template-item {
    margin-bottom: 1em;
    cursor: pointer;

    .Polaris-Badge {
      margin-left: .5em;
    }

    img {
      max-width: 100%;
    }

    fieldset {
      border: solid 1px #ddd;
      line-height: normal;

      legend {
        padding: .5em 1em;
      }

      img {
        border-radius: 1px; 
        border: solid 1px #ececec;
      }
    }

    &.__active {
      
      fieldset {
        border-color: black;

        legend {
          font-weight: bold;
        }
      }
    }
  }

  .__actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}

.fieldset-field-ui {
  border-radius: 8px;
  border: solid 1px #ddd;
  padding: 1em;
  margin-bottom: 1.5em;
  background: white;

  legend {
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 14px;
  }
}